td.left-test-item > .index-button .question-image {
    cursor: not-allowed;
}
td.left-test-item > .index-button:hover,
td.right-test-item > .index-button:hover {
    border-color:white;
}

.index-button {
    position: relative;
}

.invalid-selection {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    user-select: none;
}

.painting-toolbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 2em;
    z-index: 110;
}
.painting-toolbox ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.painting-toolbox ul > li {
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    height: 44px;
}
.painting-toolbox ul > li:last-child > i {
    border-bottom: 1px solid #333;
}
.painting-toolbox ul i {
    border: 1px solid #333;
    border-bottom: none;
    padding: 6px 12px;
    width: 30px;
}

.painting-canvas {
    cursor: crosshair;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.23;
}

.painting-expandable-tool {
    border-collapse: collapse;
    border-spacing: 0;
}
.painting-expandable-tool td {
    padding: 0;
}

.painting-expandable-tool td.button > i {
    border-left: none;
    width: 20px;
    padding: 14px 0;
}

.painting-brush-selection {
    display: none;
    background: #4aaaa5;
}
.painting-brush-selection a {
    display: block;
    text-align: center;
    width: 48px;
    height: 43px;
    border:1px solid #333;
    float: left;
}
.painting-brush-selection a.active {
    background: #32716e;
}
.painting-brush-selection a:hover {
    background: #59d2cc;
}
.painting-brush-selection a {
    border-left: none;
}

.painting-brush-selection img {
    position: relative;
}