<?php

/////////////////////////////////////////////////////////////////////
// 設定ファイル
/////////////////////////////////////////////////////////////////////

// アップロード用のキー (クライアント、サーバー共通のパスワード. キーのないアップロードを禁止する)
define("UPLOAD_KEY", "");
// テストの回答データを保存するディレクトリ (相対パス)
define("TEST_SESSION_DIRECTORY", "sessions");
// テストに使う画像データを保存/参照するディレクトリ (相対パス)
define("TEST_IMAGE_DIRECTORY", "images");
