h2 {
    font-family: arial;
    font-size: 150%;
    padding: 10px 20px;
    margin: 15px 0;
    border: 1px solid #606060;
    background-color: #eee;
}
.question {
    font-family: arial;
    font-size: 150%;
    margin-bottom: 1.6em;
    letter-spacing: 0.1em;
}
.radio-button {
    display: inline-block;
    width: 25%;
    margin: 0 2em;
}
.radio-button > input {
    display: none;
}
.radio-button > label {
    display: block;
    cursor: pointer;
    padding: 0.6em;
    font-family: arial;
    font-size: 140%;
    text-align: center;
    cursor: pointer;

    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    box-shadow: inset 0 1px 0 rgba(255,2552,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
.radio-button input[type="radio"]:checked + label {
    background-image: none;
    color: #eee;
    text-shadow: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color: #4aaaa5;
}
